.nav-link {
  color: rgb(148, 143, 143);
}
.nav-link:hover,
.nav-link:focus {
  color: white;
}
.cart {
  width: 90%;
  background: black;
  height: 300px;
  margin: 0 auto;
}
.cart-title {
  margin-left: 20px;
  font-size: 20px;
}
